node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.*
.DS_Store
.vscode
.idea
chart
docker-compose.yaml
MongoDockerfile
mongodb-init.js
Readme.md
*.md
.dockerignore
.gitkeep
scprovider.yaml
